.mainContainer {
  //display: flex;
  //flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  //flex: 1;
  margin-right: auto;
  margin-left: auto;
  border-left: solid 1px rgb(232, 232, 232);
  border-right: solid 1px rgb(232, 232, 232);

  font-family: Rubik, sans-serif;
}